<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076905823126-33v7bo8drllkpvejt1cmf6m23ira9r19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076905823126-33v7bo8drllkpvejt1cmf6m23ira9r19</string>
	<key>API_KEY</key>
	<string>AIzaSyCiPNGey5qQCwCYgOggk5Gxc_XhivX_h3s</string>
	<key>GCM_SENDER_ID</key>
	<string>1076905823126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashcard</string>
	<key>PROJECT_ID</key>
	<string>my-tiktok-flashcard</string>
	<key>STORAGE_BUCKET</key>
	<string>my-tiktok-flashcard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076905823126:ios:033e3c10cf7ce6c1c1abb7</string>
</dict>
</plist>