<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrLCwDOw50Fgi4xbd3KE9wxhuM_G4ILWs</string>
	<key>GCM_SENDER_ID</key>
	<string>759436154994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.complete</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-colelab</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-colelab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759436154994:ios:08dc343276f9ccd2f44aeb</string>
</dict>
</plist>